body {
    background-color: bisque !important;
}

* {
    font-family: monospace;
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
}

.character {
    width: 140px;
    padding: 5%;
    min-width: 140px;
    max-width: 140px;
}

.logo {
    width: 100% !important;
    filter: opacity(0.1);
}